name: Build and Release OnePlus 12r Bright-Star Kernel and Kernel Modules

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Select type of Github release?'
        required: true
        type: choice
        options:
          - none
          - Pre-release
          - Release
        default: none
      manifest:
        description: 'Select manifest'
        required: true
        type: choice
        options:
          - OOS14
          - OOS15
          - FAST_BUILD_OOS15
          - OOS16
        default: OOS16
      ksun_branch:
        description: 'Enter KernelSU Next Branch or commit hash (blank for stable tag)'
        required: true
        type: string
        default: dev
      optimize_level:
        description: "Compiler optimization level"
        required: true
        type: choice
        options: [O2, O3]
        default: O2
      kernel_uname:
        description: 'Kernel uname'
        type: string
        default: 'Bright-Star'
      susfs_branch_or_commit:
        description: 'Enter SusFS Branch or commit hash for android13-5.15'
        type: string
        default: ''

jobs:
  set-op-model:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout Code (to access configs/)
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            configs/
          sparse-checkout-cone-mode: false

      - name: Setup OnePlus Model
        id: set-matrix
        shell: bash
        run: |
          set -euo pipefail
          declare -a models=()
          while IFS= read -r -d '' file; do
            model=$(basename "$file" .json)
            models+=("$model")
          done < <(find configs/ -name "*.json" -print0)
        
          if [ ${#models[@]} -eq 0 ]; then
            echo "Error: No config files found in configs/ directory!"
            exit 1
          fi
        
          echo "[" > matrix.json
          for i in "${!models[@]}"; do
            model="${models[$i]}"
            file="configs/$model.json"
            if [ -f "$file" ]; then
              jq -r '.' "$file" >> matrix.json
              if [ $((i+1)) -lt ${#models[@]} ]; then
                echo "," >> matrix.json
              fi
            fi
          done
          echo "]" >> matrix.json
        
          input="OP12r"
          jq_filter="."
          jq_filter="map(select(.model == \"$input\"))"
        
          filtered=$(jq -c "$jq_filter" matrix.json)
          wrapped=$(jq -n --argjson items "$filtered" '{ include: $items }')
        
          echo "matrix<<MATRIX_EOF" >> "$GITHUB_OUTPUT"
          echo "$wrapped" >> "$GITHUB_OUTPUT"
          echo "MATRIX_EOF" >> "$GITHUB_OUTPUT"

  build-kernel:
    name: Build OP12r Bright-Star kernel
    needs: set-op-model
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.set-op-model.outputs.matrix) }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Build Kernel
        uses: ./.github/actions
        with:
          op_config_json: ${{ toJSON(matrix) }}
          ksun_branch_or_hash: ${{ inputs.ksun_branch }}
          susfs_commit_hash_or_branch: ${{ inputs.susfs_branch_or_commit }}
          optimize_level: ${{ inputs.optimize_level }}
          kernel_uname: ${{ inputs.kernel_uname }}
          manifest: ${{ inputs.manifest }}
          
  build-kernel-modules:
    name: Build Kernel Modules
    needs: set-op-model
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.set-op-model.outputs.matrix) }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Build Kernel Modules
        uses: ./.github/kernel_modules
        with:
          op_config_json: ${{ toJSON(matrix) }}
          manifest: ${{ inputs.manifest }}

  trigger-release:
    needs:
      - build-kernel
      - build-kernel-modules
    runs-on: ubuntu-latest
    if: ${{ inputs.release_type != 'none' }}
    env:
      REPO_OWNER: ${{ github.repository_owner }}
      REPO_NAME: ${{ github.event.repository.name }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RELEASE_NAME: 'OnePlus 12r Bright-Star Kernel With KernelSU Next, Nethunter & SUSFS v2.0.0'
      OS_VERSION: $(grep -oi 'oos[0-9]\+' <<< "${{ inputs.manifest }}")
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Download Wirless Firmware Module for Nethunter 
        id: download_external
        env:
          SOURCE_REPO: nullptr-t-oss/Nethunter-Wireless-Firmware 
        run: |
          echo "--- Downloading Latest Release Asset from $SOURCE_REPO ---"
          
          DOWNLOAD_DIR="./downloaded-artifacts/wireless-firmware"
          mkdir -p "$DOWNLOAD_DIR"
          
          LATEST_RELEASE_TAG=$(gh api \
            repos/$SOURCE_REPO/releases/latest \
            --jq '.tag_name')

          if [ -z "$LATEST_RELEASE_TAG" ]; then
            echo "::warning::Could not find a latest release in $SOURCE_REPO. Skipping external download."
            exit 0
          fi
          
          echo "Found latest release tag: $LATEST_RELEASE_TAG"
          
          SOURCE_REPO_NAME=$(basename $SOURCE_REPO)
          EXPECTED_ASSET_NAME="${SOURCE_REPO_NAME}-${LATEST_RELEASE_TAG}.zip"

          gh release download $LATEST_RELEASE_TAG \
            --repo $SOURCE_REPO \
            --pattern $EXPECTED_ASSET_NAME \
            --dir $DOWNLOAD_DIR \
            --clobber
          
          echo "Finished downloading $EXPECTED_ASSET_NAME to $DOWNLOAD_DIR."

      - name: Generate and Create New Tag
        run: |
          BASE_TAG="v2.0.0-r0"
          LATEST_TAG=$(gh api repos/$REPO_OWNER/$REPO_NAME/tags --jq '.[0].name')
          if [ -z "$LATEST_TAG" ]; then
            LATEST_TAG="$BASE_TAG"
          else
            LATEST_TAG=$(printf "%s\n%s\n" "$LATEST_TAG" "$BASE_TAG" | sort -rV | head -n1)
          fi
          NEW_TAG=$(echo "$LATEST_TAG" | awk -F'-r' '{suffix=$2; if (!suffix) suffix=0; suffix++; printf "%s-r%d", $1, suffix}')
          echo "New tag: $NEW_TAG"
          echo "NEW_TAG=${NEW_TAG}" >> $GITHUB_ENV
          git tag $NEW_TAG
          git push origin $NEW_TAG
          
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./downloaded-artifacts
          
      
      - name: Generate Device List and Final Release Notes
        id: generate-notes
        run: |
          echo "=== Start building the release notes ==="
          cat << EOF > release_notes.md
          This release contains KernelSU Next and SUSFS v2.0.0
          
          Module: 
          -> https://github.com/sidex15/ksu_module_susfs  
          
          Official Managers:
          -> https://github.com/KernelSU-Next/KernelSU-Next  
          
          Non-Official Managers:
          -> https://github.com/WildKernels/Wild_KSU
          
          ### Built Devices
          
          | Model | Kernel Version |
          |-------|----------------|
          EOF
          
          # Generate table rows
          find downloaded-artifacts -name "*.txt" -type f | sort | while read -r file; do
            if [ -n "$file" ]; then
              model=$(basename "$file" .txt)
              version=$(cat "$file")
              printf "| %-12s | %-16s |\n" "$model" "$version" >> release_notes.md
            fi
          done
          
          # Add features and finalize
          cat << 'EOF' >> release_notes.md
          
          ### Features
          - [+] KernelSU-Next / WildKSU Manager Support
          - [+] SUSFS v2.0.0
          - [+] Wireguard Support
          - [+] Magic Mount Support
          - [+] Ptrace message leak fix for kernels < 5.16
          - [+] Manual Hooks [scope_min_manual_hooks_v1.4]
          - [+] CONFIG_TMPFS_XATTR Support [Mountify Support]
          - [+] BBR v1 Support
          - [+] Baseband Guard Support (BBG)
          - [+] Nethunter Support
          - [+] Mem kernel driver by @Poko-Apps [r/w to physical memory]
          - [+] IP Set Support

          EOF
          
          # Output for debugging
          echo "--- Final Release Notes ---"
          cat release_notes.md

      - name: Create GitHub Pre-release
        if: ${{ inputs.release_type == 'Pre-release' }}
        run: |
          gh release create "${{ env.NEW_TAG }}" \
            --repo "${{ env.REPO_OWNER }}/${{ env.REPO_NAME }}" \
            --title "*Test-build*-${{ env.RELEASE_NAME }}-${{ env.OS_VERSION }}*Test Build*" \
            --notes-file release_notes.md \
            --prerelease
       
      - name: Create GitHub Release
        if: ${{ inputs.release_type == 'Release' }}
        run: |
          gh release create "${{ env.NEW_TAG }}" \
            --repo "${{ env.REPO_OWNER }}/${{ env.REPO_NAME }}" \
            --title "${{ env.RELEASE_NAME }}-${{ env.OS_VERSION }}" \
            --notes-file release_notes.md

      - name: Upload Release Assets Dynamically
        run: |
          for file in ./downloaded-artifacts/*/*.{zip,img}; do
            if [ -f "$file" ]; then
              echo "Uploading $file..."
              gh release upload "${{ env.NEW_TAG }}" "$file" --clobber
            fi
          done
